html {
  font-family: sans-serif;
  padding: 10px 20px 30px;
}

h1 {
  font-size: 24px;
}

.layer {
  display: flex;
  margin-bottom: 10px;

  .thumb {
    flex: none;

    $size: 60px;
    width: $size;
    height: $size;
  }

  .words {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 10px;

    .title {
      font-size: 14px;
      font-weight: bold;

      margin-bottom: 1px;

      opacity: 0.9;

      .subtitle {
        font-style: italic;
        font-weight: normal;

        margin-left: 0.3em;
      }
    }

    .text {
      font-size: 14px;
      font-style: italic;

      opacity: 0.8;
    }
  }
}
